{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/note.css' %}">
{% endblock %}


{% block content %}

<div class="text-center">
    <a href="/events/create" class="btn btn-primary mb-3">Add an Event</a>
</div>

<section class='row'>
{% for event in events %}
    <div class='col-sm-6 col-lg-4 mb-3'>
        
        <div class="card mx-auto shadow-lg" style="width: 220px;">
            
            <div class="card-header">
                <h5 class="card-title mb-0">{{event.title}}</h5>
            </div>

            <div class="card-body card-body-todo">
                <p class="card-text">{{event.description}}</p>      
            </div>

            <div class="card-footer text-muted bg-white border-top-0">


                <p class='font-italic text-muted'>{{event.start_time}}</p>
                <a href="{% url 'event_edit' event.id %}" class="stretched-link"></a>
                <a href="{% url 'events_delete' event.id %}" class="btn btn-link text-danger"style="z-index: 20;position:relative;">Delete</a> 

            </div>
        </div>
        
    </div>


{% endfor %}
</section>
{% endblock %}