{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/note.css' %}">

{% endblock %}

{% block content %}

<div class="text-center">
    <a href="/notes/create" class="btn btn-primary mb-3">Add a Note</a>
</div>

<section class='row'>
{% for note in notes %}
<div>    
<div class='col-sm-6 col-md-4 col-lg-3 mb-3'>
        
        <div class="card mx-auto shadow-lg " style="width: 190px;">
            
            <div class="card-header d-flex justify-content-between bg-white border-bottom-0">
                <h5 class="card-title">
                    <a href="{%url 'notes_update' note.id %}">{{note.title}}</a>
                </h5>
                
            </div>

            
            <div class="card-footer text-muted bg-white border-top-0">
                <p class='font-italic'>Created At: {{note.createdAt}}</p>
                <a href="{%url 'notes_update' note.id %}" class="stretched-link"></a>
                <a href="{% url 'notes_delete' note.id %}" class="btn btn-link text-danger"style="z-index: 20;position:relative;">Delete</a>
                
            </div>
            
        </div>
    </div>
    
</div>   
{% endfor %}
</section>

{% endblock %}