{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/todo-index.css' %}"/>
{% endblock %}

{% block content %}

<section class='row'>
{% for todo in todos %}

    <div class='col-sm-4'>
        
        <div class="card mw-75">
            <div class="card-header">
                <h5 class="card-title">{{todo.title}}</h5>
                <span>{{todo.importance}}</span>
            </div>
            <div class="card-body">
            <p class="card-text">{{todo.description}}</p>      
            </div>
            <p class="card-footer text-muted">
                {{todo.date}}
            </p>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
        </div>
    </div>

{% endfor %}
</section>

{% endblock %}