{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/todo-index.css' %}"/>
{% endblock %}

{% block content %}
<a href="/todos/create" class="btn btn-primary">Add To-Do</a>
<section class='row'>
{% for todo in todos %}

    <div class='col-sm-4 col-md-4 mb-3'>
        
        <div class="card" style="width: 200px;">
            <div class="card-header">
                <h5 class="card-title">{{todo.title}}</h5>
                <span>{{todo.importance}}</span>
            </div>
            <div class="card-body">
            <p class="card-text">{{todo.description}}</p>      
            </div>
            <p class="card-footer text-muted">
                {{todo.date}}
            </p>
            <a href="{% url 'todos_update' todo.id %}" class="btn warn">Edit</a>
      <a href="{% url 'todos_delete' todo.id %}" class="btn danger">Delete</a>
        </div>
    </div>

{% endfor %}
</section>

{% endblock %}