{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% comment %} <h1>Less is more </h1>
    <p>This is filler text describing what the page is about, how to use it, why its useful etc

        dsfsdsdfsdfsdfasdaasdfadfadfadfadfadfadfadadfadasdf dsfaafd sfda a gaf sfdgga
        
         asfdgsd g dss  dnsgdjdj n ndsnk dfnj dn dnjds nkd nj d
        
         sdjd dnkdnkd nkd nkd snkd 
        
        shdihnksdhnkhdnksgdnknsdnkhnksdgnksdhnkndkhsd
        
        sghdnsdhnksdknhdnkshnkshdnksdnkdhnkd
    </p> {% endcomment %}
{% endblock %}