.todosContainer {
    display: flex;
    flex-wrap: wrap;

    width: 800px;
    background-color: royalblue;
    padding: 20px;
}

.todoCard {
    background-color: white;
    border: 2px solid black;
    width: 30%;
    margin: 10px;
}

.todoCard h1 {
    
}