{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script defer src={% static 'js/timer.js' %}></script>
{% endblock head %}

{% block content %}

    <div class="card text-center m-5 shadow-lg">
        <div class="card-header">
            {{object.title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Time until {{object.title}}</h5>

            <div class="card-text mb-3 mt-3" id='countdown-box'>
                <div class="spinner-border text-primary" role="status"></div>
                Calculating...
            </div>

            <a href="{% url 'timers_index' %}" class="btn btn-primary">Go Back</a>
        </div>
        <div class="card-footer text-primary text-muted" id='event-box'>
            {{object.when|date:"M d, Y H:m:s"}}
        </div>
    </div>
    
{% endblock content %}