{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <a href="create" class="btn btn-primary mb-3">Add a Timer</a>
</div>

<section class='row'>
{% for obj in object_list %}


        <div class="card m-3 shadow-lg">
            <div class="card-header">
              Count Down
            </div>
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <a href={{obj.get_absolute_url}} class='btn btn-primary'>View</a>
              <a href="{% url 'timers_delete' obj.id %}" class="btn bg-transparent btn-link text-danger">Delete</a>
            </div>
        </div>
        

{% endfor %}
</section>

{% endblock %}